.about__container {
  position: relative;
  display: grid;
  grid-template-columns: size(355px) size(660px);
  gap: size(145px);

  padding-top: size(120px);
  padding-bottom: size(233px);

  @include vp-1365 {
    display: flex;
    flex-direction: column;
    padding-top: size(105px);
    padding-bottom: size(180px);
    gap: 0;
  }

  @include vp-767 {
    padding-left: 0;
    padding-right: 0;
    padding-top: size(75px);
    padding-bottom: size(277px);
  }

  img {
    width: 100%;
    object-fit: cover;

    @include vp-767 {
      height: size(313px);
    }
  }
}

.about__content {

  @include vp-767 {
    padding: 0 size(15px);
  }

  h2 {
    font-family: "AlumniSans";
    font-size: size(54px);
    line-height: size(54px);
    font-weight: 600;
    letter-spacing: size(1.62px);
    margin-top: size(-5px);
    margin-bottom: 0;

    @include vp-1365 {
      font-size: size(42px);
      line-height: size(42px);
      letter-spacing: size(1.26px);
      text-align: center;
    }

    @include vp-767 {
      font-size: size(32px);
      line-height: size(32px);
      text-align: left;
      letter-spacing: size(0.96px);
    }
  }

  h3 {
    font-size: size(22px);
    line-height: size(22px);
    font-weight: 400;
    letter-spacing: 0;
    margin-top: size(29px);
    margin-bottom: size(94px);

    @include vp-1365 {
      font-size: size(20px);
      line-height: size(20px);
      text-align: center;
      margin-top: size(20px);
      margin-bottom: size(33px);
    }

    @include vp-767 {
      font-size: size(18px);
      line-height: size(20px);
      text-align: left;
      margin-top: size(12px);
      letter-spacing: 0;
    }
  }

  p {
    margin: size(10px) 0;
    font-weight: 300;
    letter-spacing: 0;
    margin: 8px 0;

    @include vp-1365 {
      width: size(502px);
      margin: size(10px) auto;
      text-align: center;
      margin-bottom: size(40px);
    }

    @include vp-767 {
      width: size(290px);
      font-size: size(14px);
      line-height: size(22px);
      text-align: left;
      margin-top: size(38px);
      margin-bottom: size(53px);
    }
  }

  p:not(:first-of-type) {
    @include vp-1365 {
      display: none;
    }
  }
}

.about__video {
  position: absolute;
  z-index: 1;
  width: size(364px);
  height: size(228px);
  overflow: hidden;
  right: size(462px);
  top: size(408px);

  @include vp-1365 {
    width: size(265px);
    height: size(167px);
    right: calc(50% - size(133px));
    top: calc(100% - size(265px));
  }

  @include vp-767 {
    width: size(320px);
    height: size(167px);
    right: calc(50% - size(160px));
    top: calc(100% - size(237px));
  }

  img {
    position: absolute;
    width: 100%;
    object-fit: cover;

    @include vp-767 {
      height: 100%;
      width: auto;
    }
  }

  iframe {
    object-fit: cover;
    width: size(364px);
    height: size(228px);

    @include vp-1365 {
      width: size(265px);
      height: size(167px);
    }

    @include vp-767 {
      width: size(320px);
    }
  }

  button {
    position: absolute;
    z-index: 2;
    top: calc(50% - size(50px));
    left: calc(50% - size(50px));
    width: size(100px);
    height: size(100px);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;

    @include vp-1365 {
      top: calc(50% - size(36px));
      left: calc(50% - size(36px));
      width: size(72px);
      height: size(72px);
    }
  }

  button:disabled {
    .about__btn-bcg {
      cursor: not-allowed;
      pointer-events: none;
      background: none;
      background-color: $color-default-white;
      outline: size(2px) solid rgb(155, 164, 185);

      path {
        fill: rgb(155, 164, 185);
      }
    }
  }

  button:active {
    .about__btn-bcg {
      width: size(58px);
      height: size(58px);
      outline-offset: size(19px);

      @include vp-1365 {
        width: size(42px);
        height: size(42px);
        outline-offset: size(13px);
      }
    }
  }

  button:focus-visible,
  button:focus,
  button:hover {
    outline: none;

    .about__btn-bcg {
      outline: size(2px) solid #102654;
      background: none;
      background-color: $color-default-white;

      path {
        fill: #102654;
      }
    }

  }


}

.about__video-iframe {
  object-fit: cover;
  width: size(364px);
  height: size(228px);
}

.about__video-iframe--hidden {
  display: none;
}

.about__btn-bcg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: size(72px);
  height: size(72px);
  outline: size(2px) solid rgb(237, 2, 51, 0.2);
  outline-offset: size(12px);
  border-radius: 50%;
  background: var(--1, linear-gradient(97deg, #ED0233 17.6%, #003EB7 95.31%));

  @include vp-1365 {
    width: size(52px);
    height: size(52px);
    outline-offset: size(8px);
  }

  svg {
    width: size(13px);
    height: size(15px);
    margin-left: size(6px);

    @include vp-1365 {
      width: size(9px);
      height: size(10px);
      margin-left: size(4px);
    }

    path {
      fill: $color-default-white;
    }
  }
}
