.btn-svg {
  background-color: transparent;
  border: none;
  cursor: pointer;

  svg {
    path {
      stroke: #102654;
    }

    rect {
      stroke: #102654;
    }
  }

  @include hover-focus {
    outline: none;

    circle {
      stroke: #102654;
    }
  }

  @include active {
    svg {
      fill: #102654;
    }

    circle {
      stroke: #102654;
    }

    path {
      stroke: $color-default-white;
    }
  }
}

.btn-svg:disabled {
  cursor: not-allowed;
  pointer-events: none;

  path {
    opacity: 0.3;
  }
}
