.contacts {
  padding: size(59px) size(123px) size(60px) size(120px);

  h2 {
    font-family: "AlumniSans";
    font-size: size(54px);
    font-weight: 600;
    line-height: size(54px);
    letter-spacing: size(1.62px);
    margin-top: 0;
    margin-bottom: size(34px);

    @include vp-1365 {
      font-size: size(42px);
      line-height: size(42px);
      letter-spacing: size(1.26px);
    }

    @include vp-767 {
      font-size: size(32px);
      line-height: size(32px);
      letter-spacing: size(0.96px);
    }
  }

  @include vp-1365 {
    padding: size(105px) size(133px);
    padding-bottom: size(99px);

    h2 {
      letter-spacing: size(1.65px);
    }
  }

  @include vp-767 {
    padding: size(67px) size(15px);
    padding-bottom: size(68px);

    h2 {
      letter-spacing: size(1px);
    }
  }
}

.contacts__holder {
  position: relative;
  display: grid;
  row-gap: size(14px);
  grid-template-columns: 1fr 1fr;
  margin-top: size(42px);

  @include vp-1365 {
    row-gap: size(30px);
    margin-top: size(41px);
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: size(37px);
    row-gap: size(26px);
  }

  h3 {
    font-size: size(24px);
    font-weight: 400;
    line-height: size(24px);
    margin: 0;
    margin-bottom: size(6px);

    @include vp-1365 {
      font-size: size(22px);
      line-height: size(22px);
      margin-bottom: size(10px);
    }

    @include vp-767 {
      font-size: size(20px);
      line-height: size(20px);
      margin-bottom: size(12px);
    }
  }

  p {
    font-size: size(14px);
    line-height: size(22px);
    margin: 0;
  }
}

.contacts__address,
.contacts__phone {
  display: flex;
  flex-direction: column;
  row-gap: size(12px);

  @include vp-1365 {
    row-gap: size(29px);
  }

  @include vp-767 {
    row-gap: size(26px);
  }
}

.contacts__phone {
  padding-left: size(70px);

  @include vp-1365 {
    padding-left: size(60px);
  }

  @include vp-767 {
    padding-left: 0;
  }
}

.contacts__holder::before {
  position: absolute;
  content: "";
  height: 100%;
  width: size(1px);
  background-color: #74819C;
  right: 50%;

  @include vp-767 {
    height: 0;
    width: 0;
  }
}
