.faq {
  background-color: $color-basic-grey;
}

.faq__container {
  padding-top: size(120px);
  padding-bottom: size(120px);

  @include vp-1365 {
    padding-top: size(101px);
    padding-bottom: size(99px);
  }

  @include vp-767 {
    padding-top: size(71px);
    padding-bottom: size(70px);
  }

  h2 {
    font-family: "AlumniSans";
    font-size: size(54px);
    line-height: size(54px);
    font-weight: 600;
    letter-spacing: size(1.62px);
    text-align: left;
    margin: 0;
    margin-bottom: size(49px);

    @include vp-1365 {
      font-size: size(42px);
      line-height: size(42px);
      letter-spacing: size(1.26px);
      text-align: center;
      margin-bottom: size(47px);
    }

    @include vp-767 {
      font-size: size(32px);
      line-height: size(32px);
      letter-spacing: size(0.96px);
      margin-bottom: size(34px);
    }
  }
}

.faq__wrapper {
  display: grid;
  grid-template-columns: auto size(860px);
  column-gap: size(40px);

  @include vp-1365 {
    grid-template-columns: 1fr;
    row-gap: size(41px);
  }

  @include vp-767 {
    row-gap: size(28px);
  }
}

.faq__topics {
  display: flex;
  flex-direction: column;
  gap: size(10px);
  margin-top: size(2px);

  @include vp-1365 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: size(10px);
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: size(10px);
  }

  .faq__item {
    font-size: size(18px);
    font-weight: 400;
    line-height: size(18px);
    min-height: size(54px);
    text-transform: none;
    background-color: transparent;
    border: none;
    border: size(1px) solid rgba(16, 38, 84, 0.20);
    padding-top: size(5px);

    @include vp-767 {
      font-size: size(16px);
      line-height: size(16px);
      min-height: size(44px);
    }

    @include hover-focus {
      border: size(1px) solid rgba(16, 38, 84);
      outline: none;
    }

    &.is-active {
      color: $color-default-white;
      background: var(--1, linear-gradient(97deg, #ED0233 17.6%, #003EB7 95.31%));
      border: none;
      outline: none;
    }
  }
}

.faq__info {
  border-top: size(1px) solid rgba(28, 51, 116, 0.20);
  display: none;
}

.faq__info.is-active {
  display: flex;
}

.faq__info-list {
  margin: 0;
  padding: 0;
  list-style: none;

  .is-active {
    .btn-svg-faq--open {
      display: none;
    }

    .btn-svg-faq--close {
      display: block;
    }
  }
}

.faq__info-item {
  display: grid;
  grid-template-columns: 1fr size(40px);
  grid-template-rows: 1fr min-content;
  align-items: center;
  column-gap: size(160px);
  min-height: size(90px);
  border-bottom: size(1px) solid rgba(28, 51, 116, 0.20);
  padding-top: size(26px);
  padding-bottom: size(23px);

  @include vp-1365 {
    column-gap: size(100px);
    padding-top: size(24px);
    padding-bottom: size(25px);
    min-height: size(90px);
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: size(260px) size(30px);
    column-gap: 0;
    min-height: size(84px);
    align-items: center;
    padding-top: size(21px);
    padding-bottom: size(22px);

    div {
      grid-column: 1/3;
    }
  }

  h3 {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: size(24px);
    font-weight: 400;
    line-height: size(24px);
    margin: 0;

    @include vp-1365 {
      flex-grow: 1;
      font-size: size(22px);
      line-height: size(22px);
    }

    @include vp-767 {
      grid-column: 1/2;
      grid-row: 1/2;
      font-size: size(20px);
      line-height: size(20px);
    }
  }

  p {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: size(18px);
    font-weight: 300;
    line-height: size(24px);
    margin: 0;
    padding-top: size(5px);

    @include vp-1365 {
      padding-top: size(1px);
    }

    @include vp-767 {
      grid-column: 1/3;
      grid-row: 2/3;
      font-size: size(16px);
      line-height: size(20px);
      padding-top: size(19px);
    }
  }

  .btn-svg-faq {
    grid-column: 2/3;
    grid-row: 1/2;
    display: block;
    width: size(40px);
    height: size(40px);
    stroke: #102654;
    padding: size(8px);
    border: size(1px) solid #102654;
    border-radius: 50%;
    cursor: pointer;

    @include vp-767 {
      width: size(30px);
      height: size(30px);
    }
  }

  .btn-svg-faq--close {
    display: none;
    background-color: #102654;
    stroke: $color-default-white;
    padding: size(9px);
  }

  @include hover-focus {
    outline: none;
    .btn-svg-faq {
      background-color: #102654;
      stroke: $color-default-white;
      outline: none;
      fill: #102654;
    }
  }
}


