.features {
  background-color: $color-basic-grey;
}

.features__container {
  padding: size(120px) size(103px);
  padding-bottom: size(64px);

  @include vp-1365 {
    padding: size(101px) size(44px) size(47px) size(44px);
    margin: 0 auto;
  }

  @include vp-767 {
    padding: size(70px) 0 size(15px);
    padding-bottom: size(5px);
  }

  h2 {
    font-family: "AlumniSans";
    font-size: size(54px);
    line-height: size(54px);
    font-weight: 600;
    letter-spacing: size(1.62px);
    text-align: center;
    margin: 0;

    @include vp-1365 {
      font-size: size(42px);
      line-height: size(42px);
      letter-spacing: size(1.26px);
    }

    @include vp-767 {
      font-size: size(32px);
      line-height: size(32px);
      letter-spacing: size(0.96px);
    }
  }

  h3 {
    display: block;
    font-size: size(70px);
    line-height: size(70px);
    font-weight: 700;
    width: max-content;
    background: linear-gradient(128deg, #D10A42 0%, #0041CA 45.58%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    margin-bottom: size(-10px);

    @include vp-767 {
      font-size: size(64px);
      line-height: size(64px);
    }
  }

  h4 {
    font-size: size(22px);
    line-height: size(22px);
    font-weight: 400;
    margin: 0;

    @include vp-1365 {
      font-size: size(20px);
      line-height: size(20px);
    }

    @include vp-767 {
      font-size: size(18px);
      text-align: center;
    }
  }

  p {
    font-size: size(16px);
    line-height: size(24px);
    font-weight: 300;
    margin-top: size(8px);
    margin-bottom: size(20px);

    @include vp-1365 {
      margin-bottom: 0;
      margin-top: size(12px);
    }

    @include vp-767 {
      font-size: size(14px);
      line-height: size(22px);
      margin-top: size(11px);
      text-align: center;
    }
  }

  h3+p {
    font-size: size(14px);
    line-height: size(22px);
    font-weight: 400;
    color: #2e35ac;
    margin-top: size(10px);

    @include vp-767 {
      margin-bottom: size(8px);
    }
  }

}

.features__list {
  position: relative;
  display: grid;
  grid-template-columns: size(340px) size(340px);
  grid-template-rows: 1fr 1fr;
  column-gap: size(360px);
  width: size(1040px);
  margin: size(51px) auto;

  @include vp-1365 {
    grid-template-columns: size(313px) size(313px);
    width: auto;
    column-gap: size(50px);
    row-gap: size(340px);
    margin: size(50px) auto;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: size(39px);
    margin-top: size(55px);
  }

  .features__item:nth-last-child(-n + 2) {
    border-bottom: none;
    padding-top: size(56px);

    @include vp-1365 {
      padding-top: 0;
    }
  }
}

@include vp-767 {
  .features__item:nth-child(1) {
    grid-row: 3/4;
  }

  .features__item:nth-child(2) {
    grid-row: 1/2;
  }

  .features__item:nth-child(3) {
    grid-row: 2/3;
  }
}

.features__item {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: size(30px);
  min-height: size(174px);
  border-bottom: size(2px) solid rgba(209, 10, 66, 0.20);

  @include vp-1365 {
    padding-top: 0;
    min-height: auto;
    border-bottom: none;
    column-gap: size(15px);
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 size(50px);
  }

}

.features__item--main {
  position: absolute;
  left: calc(50% - size(120px));
  display: flex;
  flex-direction: column;
  align-items: center;
  width: size(240px);
  height: calc(100% - size(8px));
  background-color: #1C3374;
  color: $color-default-white;
  padding: 0 size(30px);
  border-bottom: none;
  margin: 3px 0;

  @include vp-1365 {
    width: size(400px);
    height: size(262px);
    left: calc(50% - size(200px));
    top: calc(50% - size(134px));
    padding: 0 size(100px);
  }

  @include vp-767 {
  position: relative;
  width: size(320px);
  height: auto;
  left: 0;
  top: 0;
  padding: 0 size(70px);
  padding-bottom: size(42px);
  }

  h3 {
    -webkit-text-fill-color: $color-default-white;
    margin: size(70px) auto size(12px) auto;
    padding-left: size(2px);

    @include vp-1365 {
      margin: size(35px) auto size(25px) auto;
    }

    @include vp-767 {
      margin-top: size(30px);
      margin-bottom: size(8px);
    }
  }

  h4 {
    font-size: size(26px);
    line-height: size(26px);
    font-weight: 700;
    margin-bottom: size(27px);

    @include vp-1365 {
      font-size: size(24px);
      line-height: size(24px);
      margin-bottom: size(15px);
    }

    @include vp-767 {
      font-size: size(22px);
      line-height: size(22px);
      margin-bottom: size(5px);
    }
  }

  p {
    font-weight: 400;

    @include vp-767 {
      font-size: size(14px);
      line-height: size(22px);
      font-weight: 300;
    }
  }

  div p {
    color: $color-default-white;
    text-align: center;
  }
}
