.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: size(1px) solid #74819c;;

  @include vp-1365 {
    display: flex;
    flex-direction: column;
  }
}

.footer__nav {
  grid-column: 1/3;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: size(42px) size(103px);
  padding-bottom: size(20px);
  background-color: #030a1a;

  @include vp-1365 {
    padding: size(45px);
    padding-bottom: size(10px);
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: size(30px) size(15px);
    gap: size(30px);
  }
}

.footer__nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: size(30px);
  padding-right: size(15px);
  min-height: size(44px);

  @include vp-1365 {
    gap: size(20px);
    padding-right: size(5px);
  }

  @include vp-767 {
    column-gap: size(35px);
    row-gap: size(17px);
    column-gap: size(36px);
    padding: 0;
  }

  a {
    display: block;
    font-size: size(14px);
    line-height: size(22px);
    color: $color-default-white;
    text-decoration: none;
    padding: size(2px) size(5px) size(5px);
    box-sizing: border-box;

    @include vp-1365 {
      display: block;
      padding-bottom: size(5px);
    }

    @include vp-767 {
      padding: 0;
    }

    @include hover {
      border-bottom: size(1px) solid $color-default-white;
    }

    &:focus-visible {
      padding: 0 size(5px);
      border: none;
      outline: size(1px) solid $color-default-white;
      outline-offset: size(5px);
    }

  .disabled {
    opacity: 0.3;
    cursor: not-allowed;
    pointer-events: none;
  }
  }
}

.footer__logo {

  img {
    width: size(109px);
    height: size(24px);

    @include vp-1365 {
      width: size(100px);
      height: size(24px);
    }

    @include vp-767 {
      width: size(89px);
      height: size(15px);
    }
  }

  @include hover-focus {
    outline: none;
    opacity: 0.8;
  }

  @include active {
    opacity: 0.3;
  }
}

.footer__sotial-list {
  display: flex;
  flex-wrap: wrap;
  gap: size(10px);

  @include vp-767 {
    align-self: center;
    margin-top: size(24px);
  }
}

.footer__sotial-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: size(25px);
  height: size(25px);
  border-radius: 50%;
  background-color: $color-default-white;

  svg {
    path {
      fill: #030a1a;
    }
  }

  @include hover-focus {
    outline: none;
    background-color: #103AAE;

    svg {
      path {
        fill: $color-default-white;
      }
    }
  }

  @include active {
    background-color: #102654;

    svg {
      path {
        fill: $color-default-white;
      }
    }
  }

  .disabled {
    opacity: 0.3;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.footer__sotial-item--ok {
  svg {
    width: size(16px);
    height: size(16px);
  }
}

.footer__sotial-item--vk {
  svg {
    width: size(15px);
    height: size(15px);
  }
}

.footer__sotial-item--reddit {
  svg {
    width: size(18px);
    height: size(14px);
  }
}
