.games__container {
  padding-top: size(120px);
  padding-bottom: size(120px);

  @include vp-1365 {
    padding-top: size(102px);
  }

  @include vp-767 {
    padding-top: size(68px);
    padding-bottom: size(50px);
  }
}
.games__banner {
  display: grid;
  grid-template-columns: size(500px) 1fr;
  justify-content: space-between;
  padding-bottom: size(125px);

  @include vp-1365 {
    grid-template-columns: size(294px) 1fr;
    padding-bottom: size(107px);
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    padding-bottom: size(75px);
  }

  .games__content {
    display: grid;
    grid-template-columns: 1fr size(90px);
    row-gap: size(21px);
    grid-template-rows: auto auto 1fr min-content;
    padding: size(80px);
    background-color: #ed0233;
    color: $color-default-white;

    @include vp-1365 {
      grid-template-columns: 1fr size(54px);
      padding: size(40px) size(45px) size(45px);
      row-gap: size(10px);
    }

    @include vp-767 {
      padding: size(40px);
      row-gap: size(12px);
    }

    h3 {
      grid-column: 1/2;
      grid-row: 1/3;
      font-family: "AlumniSans";
      font-size: size(82px);
      font-weight: 600;
      line-height: size(76px);
      letter-spacing: size(2.46px);
      text-transform: uppercase;
      margin: 0;

      @include vp-1365 {
        font-size: size(48px);
        line-height: size(46px);
        letter-spacing: size(1.44px);
        width: min-content;
      }
    }

    p {
      font-size: size(14px);
      line-height: size(14px);
      margin: 0;

      @include vp-1365 {
        font-size: size(10px);
        line-height: size(10px);
      }
    }

    p:first-of-type {
      font-weight: 700;
      font-size: size(40px);
      line-height: size(40px);

      @include vp-1365 {
        font-size: size(24px);
        line-height: size(24px);
      }
    }

  }

  .games__data {
    grid-column: 2/3;
    grid-row: 1/2;

    div {
      display: grid;
      grid-template-columns: min-content min-content;
      align-items: center;
      padding-top: size(7px);
      column-gap: size(7px);

      @include vp-1365 {
        padding-top: size(3px);
        column-gap: size(5px);
      }
    }

    p:first-of-type {
      grid-column: 1/2;
      grid-row: 1/3;
    }
  }

  .games__time {
    grid-column: 2/3;
    grid-row: 2/3;

    div {
      padding-top: size(7px);
      @include vp-1365 {
        padding-top: 0;
       }
    }
  }

  h4 {
    grid-column: 1/3;
    grid-row: 3/4;
    font-weight: 300;
    font-size: size(18px);
    line-height: size(24px);
    margin: 0;
    margin-top: size(-2px);
    padding-bottom: size(7px);
    letter-spacing: size(0.3px);

    @include vp-1365 {
     padding-bottom: 0;
    }

    @include vp-767 {
      font-size: size(16px);
      line-height: size(20px);
     }
  }

  img {
    width: 100%;
    height: 100%;
  }


  a {
    grid-column: 1/3;
    grid-row: 4/5;
    font-weight: 700;
    display: flex;
    justify-content: center;
    font-size: size(12px);
    line-height: size(12px);
    letter-spacing: size(0.6px);
    text-transform: uppercase;
    padding: size(25px) 0;
    min-width: size(340px);
    outline: size(2px) solid $color-default-white;
    color: $color-default-white;
    margin-top: size(2px);
    user-select: none;

    @include vp-1365 {
      min-width: size(202px);
      font-weight: 400;
      padding: size(22px) 0;
    }

    @include vp-767 {
      padding: size(21px) size(44px);
      margin-top: size(13px);
    }
  }
}
