.price__container {
  position: relative;
  background-color: $color-basic-grey;
  padding-top: size(82px);
  padding-bottom: size(120px);

  @include vp-1365 {
    padding-top: size(68px);
    padding-bottom: size(100px);
  }

  @include vp-767 {
    padding-top: size(46px);
    padding-bottom: size(71px);
  }

  h2 {
    font-family: "AlumniSans";
    font-size: size(54px);
    line-height: size(54px);
    font-weight: 600;
    letter-spacing: size(1.62px);
    text-align: center;
    margin-bottom: size(34px);

    @include vp-1365 {
      font-size: size(42px);
      line-height: size(42px);
      letter-spacing: size(1.26px);
      margin-bottom: size(35px);
    }

    @include vp-767 {
      font-size: size(32px);
      line-height: size(32px);
      letter-spacing: size(0.96px);
      margin-bottom: size(22px);
    }
  }
}

.price__options {
  position: relative;
  display: flex;
  justify-content: center;
  width: max-content;
  margin: 0 auto;

  ul {
    display: flex;
    flex-direction: row;
    gap: size(50px);
    margin: 0;
    list-style-type: none;
    padding: 0;
    font-size: size(14px);
    line-height: size(22px);
    text-align: right;

    @include vp-1365 {
      gap: size(55px);
    }

    @include vp-767 {
      gap: size(46px);
    }
  }

  li {
    font-size: size(20px);
    line-height: size(20px);
    padding-bottom: size(11px);
    width: max-content;
    cursor: pointer;

    @include vp-1365 {
      font-size: size(18px);
      line-height: size(18px);
      padding-bottom: size(13px);
    }

    @include vp-767 {
      font-size: size(16px);
      line-height: size(16px);
      padding-bottom: size(15px);
    }

    @include hover-focus {
      outline: none;
      border-bottom: size(2px) solid #d10a42;
    }

    @include active {
      border-bottom: size(2px) solid #d10a42;
    }
  }

  .is-active {
    border-bottom: size(2px) solid #d10a42;
  }

  .is-disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.3;
    border-bottom: size(2px) solid #102654;
  }
}

.price__options::before {
  content: "";
  position: absolute;
  width: 100%;
  height: size(2px);
  background-color: rgba(120, 120, 120, 0.20);
  bottom: 0;
}

.price__options-list {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-top: size(36px);

    @include vp-1365 {
      justify-content: center;
      gap: size(38px);
      padding-top: size(44px);
    }

    @include vp-767 {
      padding-top: size(34px);
      gap: size(34px);
    }
  }

  li {
    display: grid;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    width: size(360px);

    @include vp-1365 {
      width: size(440px);
    }

    @include hover-focus {
      outline: none;

      .price__background {
        background: linear-gradient(135deg, #ED0233, #003EB7);
      }
    }
  }

  li.price__item-current {
    .price__background {
      background: linear-gradient(135deg, #ED0233, #003EB7);
    }

    a {
      color: $color-default-white;
      background: var(--1, linear-gradient(97deg, #ED0233 17.6%, #003EB7 95.31%));
      outline: none;
    }
  }
}

.price__background {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 100%;
  height: 100%;
  background-color: $color-default-white;
}

.price__option-content {
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: calc(100% - size(14px));
  background-color: $color-default-white;
  padding: size(60px) 0;
  padding-bottom: size(58px);
  margin: size(7px);

  @include vp-1365 {
    padding-bottom: size(60px);
  }

  @include vp-767 {
    padding-top: size(45px);
    padding-bottom: size(44px);
  }

  h3 {
    font-weight: 700;
    font-size: size(26px);
    line-height: size(26px);
    margin: 0;
    text-align: center;

    @include vp-1365 {
      font-size: size(24px);
      line-height: size(24px);
    }

    @include vp-767 {
      font-size: size(22px);
      line-height: size(22px);
    }
  }

  h4 {
    font-weight: 300;
    font-size: size(16px);
    line-height: size(24px);
    margin-top: size(6px);

    @include vp-1365 {
      margin-top: size(15px);
    }

    @include vp-767 {
      font-size: size(14px);
      line-height: size(22px);
    }
  }

  a {
    width: size(205px);
    height: size(65px);

    @include vp-1365 {
      width: size(202px);
      height: size(54px);
    }
  }

  p {
    position: relative;
    display: flex;
    gap: size(15px);
    margin-top: size(48px);
    margin-bottom: size(36px);


    @include vp-1365 {
      margin-top: size(52px);
      margin-bottom: size(25px);
    }

    @include vp-767 {
      margin-top: size(44px);
      margin-bottom: size(24px);
    }
  }

  span {
    display: block;
    font-weight: 700;
    font-size: size(60px);
    line-height: size(90px);
    z-index: 1;
    color: #103aae;

    @include vp-767 {
      font-size: size(48px);
      line-height: size(72px);
    }
  }

  svg {
    width: size(30px);
    height: size(42px);

    @include vp-767 {
      width: size(24px);
      height: size(33px);
    }
  }

  .price__shadow {
    position: absolute;
    font-weight: 700;
    font-size: size(100px);
    line-height: size(150px);
    color: #e8e8e8;
    top: size(-55px);
    left: size(-17px);

    @include vp-767 {
      font-size: size(80px);
      line-height: size(120px);
    }
  }
}

.price__weight-plate {
  display: flex;
  position: absolute;
  right: 0;
  bottom: size(-152px);

  @include vp-1365 {
    bottom: size(-148px);
  }

  @include vp-767 {
    display: none;
  }

  img {
    width: size(284px);
    height: size(497px);

    @include vp-1365 {
      width: size(327px);
      height: size(423px);
    }
  }
}
